@media screen and (min-width: 320px) and (max-width: 480px) {

	* {
		margin: 0;
		padding: 0;
	}

	html {
		font-family: 'Gothic A1', sans-serif;
	}

	body {
		width: 100%;
		height: 100%;
		overflow: auto;
		
	}

.page_ABOUT {
	position: absolute;
	display: inline-block;
}

	.div_TITLE {
		position: relative;
		display: block;
		width: 100%;
	}

		.TITLE {
			position: relative;
			display: block;
			margin-top: 10%;
			margin-left: 50%;
			margin-right: 50%;
			left: -25%;
			width: 50%;
		}

	.div_ABOUT {
		position: relative;
		display: block;
		max-width: 100%;
		width: 100%;
	}

		.ABOUT {
			position: relative;
			padding-top: 30px;
			padding-bottom: 50px;
			padding-left: 70px;
			padding-right: 70px;
			display: block;
			line-height: 30px;
			letter-spacing: -0.2px;
		}

		.CREDIT {
			position: relative;
			padding-bottom: 50px;
			padding-left: 70px;
			padding-right: 70px;
			display: block;
			line-height: 24px;
			letter-spacing: -0.3px;
			font-size: 12px;
		}


}

/* 태블릿 디바이스 */

@media screen and (min-width: 481px) and (max-width: 1024px) {


}

/* 랩탑 및 와이드 스크린 디바이스 */

@media screen and (min-width: 1025px) {


} 
