* {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Gothic A1', sans-serif;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	
}
/*
.title1 {
	display: block;
	position: fixed;
	transform: rotate(-90deg);
	left: -90px;
	top: 560px;
	line-height: 30px;
	letter-spacing: -0.3px;

}

	.title1_k {
		display: inline-block;
		position: relative;
		font-size: 20px;
		right: 50px;
	}

	.title1_e {
		display: inline-block;
		position: relative;
		font-size: 20px;
}

.title2 {
	display: block;
	position: fixed;
	transform: rotate(90deg);
	left: 1700px;
	top: 350px;
	z-index: 1;
}

	.title2_k {
		display: inline-block;
		position: absolute;
		font-size: 20px;
		right: 40px;
		width: 120px;
	}

	.title2_e {
		display: inline-block;
		position: absolute;
		font-size: 20px;
		width: 200px;

	}*/

.templateruler {
	position: absolute;
	margin-right: 50%;
	margin-left: 50%;
	left: -50%;
	/*top: 5%;*/
	width: 100%;
	height: auto;

}

.home {
	position: absolute;
	margin-right: 50%;
	margin-left: 50%;
	left: -50%;
	max-width: 100%;
	max-height: auto;
	width: 100%;
	height: auto;
}

/*.woojy_symbol {
	position: absolute;
	width: 100%;

	/*left: -450px;*/
	/*transform: rotate(15deg);*/
/*}*/

/*.woojy_a_t {
	position: absolute;
	width: 300px;
}

.woojy_a_1 {
	width: 300px;
}
*/

/*#modal{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	z-index: 999;
}

.modal {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
}

	.modal_content {
		position: relative;
		background-color: white;
		padding: 30px;

		top: 20%;

		margin-right: 50%;
		margin-left: 50%;
		left: -200px;
		width: 400px;
		height: 530px;

		line-height: 30px;
		letter-spacing: -0.2px;

		border: 6px dotted;
		z-index: 999;
	}

	.about {
		padding: 10px;
	}*/

/*
.work_a {
	width: 700px;
}

.work_a_img {
	width: 700px;
}

.work_content {
	position: absolute;
	display: inline-block;
	width: 200px;
	margin-left: 16px;
}*/
/*
h1 {
	margin: 10px;
}


.work_img {
	width: 200px;
}*/
/*
.name {
	position: absolute;
	margin-top: 20px;
	margin-left: 50px;
}

.work {
	position: absolute;
	display: inline-block;
	top: 100px;
	left: 100px;
}

.work_img {
	position: absolute;
	width: 400px;
	display: inline;
}
*/


/* 모바일 디바이스 */

@media screen and (min-width: 320px) and (max-width: 480px) {

	* {
		margin: 0;
		padding: 0;
	}

	html {
		font-family: 'Gothic A1', sans-serif;
	}

	body {
		width: 100%;
		height: 100%;
		overflow: hidden;
		
	}

	.templateruler {
		display: none;
	}

		.home {
			display: none;
		}

	.templateruler_m {
		position: relative;
		/*display: block;*/
		line-height: auto;
	}

		.home_m {
			position: fixed;
			max-width: 100%;
			width: 100%;
			height: auto;
			margin-right: 0%;
			margin-left: 0%;/*
			margin-top: 50%;
			margin-bottom: 50%;*/
			vertical-align: middle;
		}

		area {
			display: block;
		}

}

/* 태블릿 디바이스 */

@media screen and (min-width: 481px) and (max-width: 1024px) {

	.templateruler_m {
		display: none;
	}

}

/* 랩탑 및 와이드 스크린 디바이스 */

@media screen and (min-width: 1025px) {

	.templateruler_m {
		display: none;
	}

} 
